* {
    margin: 0px;
    box-sizing: border-box;
    color: black;
    font-family: Kanit;
    text-align: center;
}

body {
    background-color: black;
    align-items: center;
}

#navbar {
    display: flex;
    justify-content: flex-end;
    /* position: fixed; */
    width: 100%;
    background-color: rgb(255,255,255,.75);
}

.navlist {
    display: flex;
    list-style-type: none;
}

.navlist li {
    color: white;
}

.navlist a {
    font-size: 1.5em;
    padding: 1em;
    text-decoration: none;
    transition: transform 0.3s ease-out;
}

.navlist a:hover {
    transform: translateY(-5px);
    background-color: #000;
}

/* h1 {
    color: white;
} */

.movieList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
} 

figure {
    margin: 1em;
    align-content: center;
}

figCaption {
    text-align: center;
    background-color: black;
} 

@media (max-width: 812px) {
    figure > img {
        height: 100px;
        flex-direction: column;
    }
}

/*leave cursor code at bottom of css */
/* Start https://www.cursors-4u.com */ * {cursor: url(https://cur.cursors-4u.net/others/oth-1/oth28.cur), auto !important;} /* End https://www.cursors-4u.com */