* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

html {
  box-sizing: border-box;
}

h1 {
  font-size: 36px;
}

p, figcaption, footer, h2, a {
  font-size: 24px;
  font-family: Kanit, sans-serif;
}

#navbar {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  width: 100%;
  background-color: rgb(255, 255, 255, 0.75);
}

.navlist {
  font-family: kanit;
  font-weight: bold;
  display: flex;
  list-style-type: none;
}

.navlist li {
  color: black;
}

.navlist a {
  font-size: 1.5em;
  padding: 1em;
  text-decoration: none;
  transition: transform 0.3s ease-out;
}

.navlist a:hover {
  transform: translateY(-5px);
  background-color: white;
}

#welcome-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 97vh;
  color: white;
  background-color: white;
}

.bioText {
  font-family: "Righteous", cursive;
  font-size: 400px;
  color: teal;
  animation: fadeIn linear 4s;
  -webkit-animation: fadeIn linear 4s;
  -moz-animation: fadeIn linear 4s;
  -o-animation: fadeIn linear 4s;
  -ms-animation: fadeIn linear 4s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.pButton {
  text-align: center;
  margin-top: -100px;
}

.projectsButton {
  letter-spacing: 3px;
  width: 200px;
  height: 80px;
  border: none;
  color: white;
  background-color: #e38513;
  border-radius: 4px;
  box-shadow: inset 0 0 0 0 teal;
  transition: ease-out 0.2s;
  font-size: 2rem;
  outline: none;
}

.projectsButton:hover {
    transform: translateY(-8px);
}

.projects-grid {
  margin-top: 55px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project-tile {
  text-decoration: none;
}

.projectImage {
  height: 350px;
}

figure {
  margin: 1rem;
}

figcaption {
  text-align: center;
  font-size: 24px;
  background-color: teal;
  /* margin-top: -10px; */
  color: white;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

figure figcaption:hover {
    transform: translateY(-5px);
}

.contact-section-header,
h2 {
  font-size: 3rem;
  font-family: kanit;
}

.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 35vh;
}

#contact {
  display: flex;
  justify-content: center;
}

.contact-links {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  flex-wrap: wrap;
  margin: 30px;
  color: teal;
  font-weight: bold;
}

.links {
    color: #e38513;

}

.links i {
    color: teal;
}

.contact-links a:hover {
    transform: translateY(-8px);
}


footer {
  display: flex;
  justify-content: center;
  background-color: white;
  font-size: small;
}

button {
  background: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin: 10px;
  transition: 0.8s;
  color: rgba(245, 53, 53, 0.75);
  position: relative;
  overflow: hidden;
}

button:hover {
  color: white;
}

button:before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background: rgba(245, 53, 53, 0.75);
  z-index: -1;
  transition: 0.8s;
  top: 0;
  border-radius: 0 0 50% 50%;
}

button:hover::before {
  height: 180%
}

@media (min-width: 375px) (max-width: 812px) {
  #navbar {
    display: flex;
    justify-content: flex-start;
    position: fixed;
    width: 100%;
    background-color: rgb(255, 255, 255, 0.75);
  }

  .projects-grid {
    margin: 1em;
  }

  .projectImage {
    max-width: 80vw;
  }

  p {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-left: 2em;
    margin-right: 2em;
  }

  .project-tile,
  img {
    max-width: 90vw;
  }
}

@media (max-width: 460px) {
  html {
    font-size: 50%;
  }
}
