* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
font-family: Kanit, sans-serif;
}

#navbar {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    width: 100%;
    background-color: cornflowerblue;
}

.navlist {
    display: flex;
    list-style-type: none;
}

.navlist a {
    font-size: 1.5em;
    padding: 1em;
    text-decoration: none;
    transition: transform 0.3s ease-out;
}

.navlist a:hover {
    transform: translateY(-5px);
    background-color: chartreuse;
}

#welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: cornflowerblue;
    color: white;
}

.projects-grid {
    display: flex;
    flex-wrap: wrap;
}

.project-tile {
    text-decoration: none;
}

figure {
    margin: 1rem;
}

figcaption {
    text-align: center;
}

a {
    text-decoration: none;
}

#profile-link {
    
}

@media (max-width: 980px) {
    html {
        font-size: 75%;
    }
}

@media (max-width: 460px) {
    html {
        font-size: 50%;
    }
}