* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
font-family: Kanit, sans-serif;
}

#navbar {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    width: 100%;
    background-color: rgb(255,255,255,.75);
}

.navlist {
    display: flex;
    list-style-type: none;
}

.navlist li {
    color: black;
}

.navlist a {
    font-size: 1.5em;
    padding: 1em;
    text-decoration: none;
    transition: transform 0.3s ease-out;
}

.navlist a:hover {
    transform: translateY(-5px);
    background-color: white;
}

.hero-image {
    background: url(Matt\ Drone\ Pic.JPG);
    width: 100vw;
    background-repeat: no-repeat;
    /* display: center; */
    /* flex-direction: column; */
    align-items: center;
}

#welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    color: white;
    background-color: rgb(0,0,0, .25);
}

#welcome-section h1 {
    margin-top: 200px;
}

.projects-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project-tile {
    text-decoration: none;
}

figure {
    margin: 1rem;
}

figcaption {
    text-align: center;
    font-size: 36px;
    background-color: cornflowerblue;
    margin-top: -20px;
}

a {
    text-decoration: none;
}

.contact-section-header, h2{
    font-size: 3rem;
}

.contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 35vh;

}

#contact {
    display: flex;
    justify-content: center;
}

contact-links {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;

}



footer {
    display: flex;
    justify-content: center;
}

@media (max-width: 980px) {
    html {
        font-size: 75%;
    }
}

@media (max-width: 460px) {
    html {
        font-size: 50%;
    }
}