body {
    background-color: black;
}

/* * {
    margin: 0;
    box-sizing: border-box;
} */



/* .movieList {
    display: flex;
    flex-wrap: wrap;
}

figure {
    margin: 1em;
}

figCaption {
    text-align: center;
    background-color: black;
} */ 