* {
    margin: 0px;
    box-sizing: border-box;
    color: black;
    font-family: Kanit;
}

main {
    display: flex;
    height: 100vh;
}

body {
    background-color: black;
}

#navbar {
    display: flex;
    justify-content: flex-end;
    /* position: fixed; */
    width: 100%;
    background-color: rgb(255,255,255,.75);
}

.topNav {
    display: flex;
    list-style-type: none;
}

.topNav li {
    color: black;
}

.topNav a {
    font-size: 1.5em;
    padding: 1em;
    text-decoration: none;
    transition: transform 0.3s ease-out;
}

.topNav a:hover {
    transform: translateY(-5px);
    background-color: white;
}

.navList :hover {
    transform: translateX(5px);
    font-size: 16px;
}

.navList {
    margin: 15px;
}

main {
    display: flex;
}

a {
    text-decoration: none;
    color: #fff; 
}

li {
    list-style-type: none;
    color: white;
}

