* {
    margin: 0px;
    box-sizing: border-box;
    color: black;
    font-family: Kanit;
}

main {
    display: flex;
    /* height: 100vh; */
}

/* body {
    
} */

img, .topNav, .navList {
    z-index: 1;
    position: relative;
}

#navbar {
    display: flex;
    justify-content: flex-end;
    /* position: fixed; */
    width: 100%;
    background-color: rgb(255,255,255,.75);
}

.topNav {
    display: flex;
    list-style-type: none;
}

.topNav li {
    color: black;
}

.topNav a {
    font-size: 1.5em;
    padding: 1em;
    text-decoration: none;
    transition: transform 0.3s ease-out;
}

.topNav a:hover {
    transform: translateY(-5px);
    background-color: white;
}

.navList :hover {
    transform: translateX(5px);
    font-size: 16px;
}

.navList {
    margin: 15px;
    width: 400px;
}

main {
    display: flex;
}

a {
    text-decoration: none;
    color: #fff; 
}

li {
    list-style-type: none;
    color: white;
}

.bulma-box {
    text-align: center;
    font-size: x-large;
    font-weight: 900;
}

.modal {
    background-color: rgba(232, 209, 204, 0.255);
}



/*leave cursor code at bottom of css */
/* Start https://www.cursors-4u.com */ * {cursor: url(https://cur.cursors-4u.net/others/oth-1/oth28.cur), auto !important;} /* End https://www.cursors-4u.com */