* {
    margin: 0px;
    box-sizing: border-box;
    background-color: ;
    font-family: Kanit;
    text-align: center;
}

h1 {
    color: white;
}

#main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 45px;
}

#navbar {
    display: flex;
    justify-content: flex-end;
    /* position: fixed; */
    width: 100%;
    background-color: rgb(255,255,255,.75);
}

.navlist {
    display: flex;
    list-style-type: none;
}

.navlist li {
    color: black;
}

.navlist a {
    font-size: 1.5em;
    padding: 1em;
    text-decoration: none;
    transition: transform 0.3s ease-out;
}

.navlist a:hover {
    transform: translateY(-5px);
    background-color: rgb(255,255,255,.75);
}

figure > img {
    height: 200px;
    border-radius: 15%;
    margin: 1em;
}

figure > figcaption {
    margin-top: -1em;
    align-items: center;
    color: yellow;
}

button {
    margin: 3em;
    
}

body {
    background-color: rgb(0, 0, 0);
}

@media (max-width: 812px) {
    figure > img {
        height: 100px;
        flex-direction: column;
    }
}
  

/*leave cursor code at bottom of css */
/* Start https://www.cursors-4u.com */ * {cursor: url(https://cur.cursors-4u.net/others/oth-1/oth28.cur), auto !important;} /* End https://www.cursors-4u.com */
