* {
    margin: 0px;
    box-sizing: border-box;
    color: black;
    font-family: Roboto Mono;
    text-align: center;
}

/* h1 {
    margin-bottom: .25em;
} */

#main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

figure > img {
    height: 200px;
    border-radius: 15%;
}

body {
    background-color: rgba(0, 0, 0, 0.536);
}

