* {
    margin: 0px;
    box-sizing: border-box;
    color: black;
    font-family: Roboto Mono;
    text-align: center;
}

/* h1 {
    margin-bottom: .25em;
} */

#main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#navbar {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    width: 30%;
    /* background-color: rgb(255,255,255,.75); */
}

.navlist {
    display: flex;
    list-style-type: none;
}

.navlist li {
    color: black;
}

.navlist a {
    font-size: 1.5em;
    padding: 1em;
    text-decoration: none;
    transition: transform 0.3s ease-out;
}

.navlist a:hover {
    transform: translateY(-4px);
    background-color: white;
}

figure > img {
    height: 200px;
    border-radius: 15%;
}

body {
    background-color: rgba(0, 0, 0, 0.536);
}
